@{
  ViewBag.Title = DemoOAuth.Strings.DemoTitle;
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.IsLocal)
{
  @Html.Raw(DemoOAuth.Strings.NoForLocalhost)
}

<h1>@DemoOAuth.Strings.DemoTitle</h1>

@Html.Raw(DemoOAuth.Strings.DemoIntro)

@* !!!USE JAVASCRIPT LINKS TO PREVENT THEM FROM INDEXING!!! *@
<ul style="width:600px;margin-left:auto;margin-right:auto;" class="oauth">
  @foreach (var client in Nemiro.OAuth.OAuthManager.RegisteredClients)
  {
    <li>
      @*link and image*@
      <a href="#" onclick="window.location.href='@Url.Action("ExternalLogin", new { provider = client.Key })'; return false;">
        <img src="@Url.Action("Icon", new { id = client.Key })/" alt="@client.Key" title="@client.Key" width="100" height="100" />
      </a>
    </li>
  }
	@if ((Nemiro.OAuth.OAuthManager.RegisteredClients.Count % 5) != 0)
	{
		for (int i = 0; i <= 5 - (Nemiro.OAuth.OAuthManager.RegisteredClients.Count % 5) - 1; i++)
		{
			<li><img src="@Url.Action("Icon", new { id = "empty" })" alt="empty" title="" width="100" height="100" /></li>
		}
	}
</ul>

<div class="clear"></div>

@Html.Raw(DemoOAuth.Strings.DemoFeedback)
<hr />

@Html.Raw(String.Format(DemoOAuth.Strings.DemoTechInfo, System.Reflection.Assembly.GetAssembly(typeof(Nemiro.OAuth.OAuthWeb)).GetName().Version, ViewBag.Version))

<h2>@Html.Raw(DemoOAuth.Strings.InstallViaNuGet)</h2>

<div class="nuget-badge">
  <code>Install-Package Nemiro.OAuth</code>
</div>

<section id="download">
	<h2>@DemoOAuth.Strings.Download</h2>
  <p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.13.zip">v1.13</a> <span class="date-release">@(new DateTime(2017, 8, 25).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.12.zip">v1.12</a> <span class="date-release">@(new DateTime(2016, 9, 12).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.11.2477.zip">v1.11.2477</a> <span class="date-release">@(new DateTime(2016, 8, 8).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.11.zip">v1.11</a> <span class="date-release">@(new DateTime(2016, 7, 11).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.10.zip">v1.10</a> <span class="date-release">@(new DateTime(2015, 6, 21).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.9.zip">v1.9</a> <span class="date-release">@(new DateTime(2015, 3, 19).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.8.zip">v1.8</a> <span class="date-release">@(new DateTime(2015, 3, 8).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.7.zip">v1.7</a> <span class="date-release">@(new DateTime(2015, 2, 11).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.6.zip">v1.6</a> <span class="date-release">@(new DateTime(2015, 1, 4).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.5.zip">v1.5</a> <span class="date-release">@(new DateTime(2014, 12, 27).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.4.zip">v1.4</a> <span class="date-release">@(new DateTime(2014, 11, 2).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.3.zip">v1.3</a> <span class="date-release">@(new DateTime(2014, 10, 23).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.2.zip">v1.2</a> <span class="date-release">@(new DateTime(2014, 10, 8).ToString("dd MMMM yyyy"))</span></p>
	<p><a href="https://github.com/alekseynemiro/nemiro.oauth.dll/archive/v1.1.zip">v1.1</a> <span class="date-release">@(new DateTime(2014, 7, 20).ToString("dd MMMM yyyy"))</span></p>
</section>

@Html.Raw(DemoOAuth.Strings.DemoUsefulLinks)

<h3>@DemoOAuth.Strings.DemoProvidersTable</h3>

<table style="width: 575px;">
  <thead>
    <tr>
      <th style="text-align:center;">@Html.Raw(DemoOAuth.Strings.Provider)</th>
      <th style="text-align:center;">@Html.Raw(DemoOAuth.Strings.InternalName)</th>
      <th style="text-align:center;">@Html.Raw(DemoOAuth.Strings.LocalhostSupports)</th>
      <th style="text-align:center;">@Html.Raw(DemoOAuth.Strings.MultipleUrlSupports)</th>
      <th style="text-align:center;">@Html.Raw(DemoOAuth.Strings.HTTPSupports)</th>
			<th style="text-align:center;width:20px;">&nbsp;</th>
			<th style="text-align:center;width:20px;">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align:center;"><a href="http://www.amazon.com/" target="_blank" rel="nofollow external">Amazon</a></td>
      <td style="text-align:center;">amazon</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><a href="http://login.amazon.com/manageApps" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/f9402a43-ecb6-6810-a848-279294a1408c.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://www.assembla.com/" target="_blank" rel="nofollow external">Assembla</a></td>
      <td style="text-align:center;">assembla</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><a href="https://www.assembla.com/user/edit/manage_clients" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/b2ac5a38-4b8d-3324-4831-9294b21dbedc.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="http://www.codeproject.com/" target="_blank" rel="nofollow external">CodeProject</a></td>
      <td style="text-align:center;">codeproject</td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><a href="https://www.codeproject.com/script/webapi/userclientregistrations.aspx" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/e4206b0a-9a37-8161-c38a-114de41c78da.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://www.dropbox.com/" target="_blank" rel="nofollow external">Dropbox</a></td>
      <td style="text-align:center;">dropbox</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><a href="https://www.dropbox.com/developers/apps" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/6c120256-aea1-ba88-d8d8-2b99e02908af.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://facebook.com/" target="_blank" rel="nofollow external">Facebook</a></td>
      <td style="text-align:center;">facebook</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><a href="https://developers.facebook.com/apps/" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/cef7d32b-f6c5-e237-037d-e1800350b71b.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://foursquare.com/" target="_blank" rel="nofollow external">Foursquare</a></td>
      <td style="text-align:center;">foursquare</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="https://foursquare.com/oauth" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/1a0a6b31-866a-c85e-f313-599e41e5999e.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://github.com/" target="_blank" rel="nofollow external">GitHub</a></td>
      <td style="text-align:center;">github</td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="https://github.com/settings/applications/" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/4e42b626-21c7-d3e3-f58e-4629c58c11eb.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://google.com/" target="_blank" rel="nofollow external">Google</a></td>
      <td style="text-align:center;">google</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="https://console.developers.google.com/" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/aff36495-124c-a749-20ed-ce08ec915999.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://instagram.com/" target="_blank" rel="nofollow external">Instagram</a></td>
      <td style="text-align:center;">instagram</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="http://instagram.com/developer/clients/manage/" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/b3ecb8c1-1266-bb7d-fb98-31b0966b2e5b.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://linkedin.com/" target="_blank" rel="nofollow external">LinkedIn</a></td>
      <td style="text-align:center;">linkedin</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="https://www.linkedin.com/secure/developer" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/e117de75-ef13-d188-1d14-428fe236eb91.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="http://www.microsoft.com/" target="_blank" rel="nofollow external">Microsoft Live</a></td>
      <td style="text-align:center;">live</td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="https://account.live.com/developers/applications/index" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/fd5c23ee-28e4-1519-e88d-7d9a4382e2c0.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://mail.ru/" target="_blank" rel="nofollow external">Mail.Ru</a></td>
      <td style="text-align:center;">mail.ru</td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="http://api.mail.ru/sites/my/" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/7f3f77ce-f792-8f18-c9ec-6ec9a5f35e0f.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="http://ok.ru/" target="_blank" rel="nofollow external">Odnoklassniki</a></td>
      <td style="text-align:center;">odnoklassniki</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="http://ok.ru/dk?st.cmd=appsInfoMyDevList&st._aid=Apps_Info_MyDev" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/5943b5b8-aac7-cb40-c6e9-e98bbd62dd17.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://soundcloud.com/" target="_blank" rel="nofollow external">SoundCloud</a></td>
      <td style="text-align:center;">soundcloud</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="http://soundcloud.com/you/apps" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/74c22fd2-ee98-d3e2-ced3-b74de3c2caed.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://sourceforge.net/" target="_blank" rel="nofollow external">SourceForge</a></td>
      <td style="text-align:center;">sourceforge</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="https://sourceforge.net/auth/oauth/" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/dc173deb-cc92-5806-ec96-2e75e7733c1a.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://www.tumblr.com/" target="_blank" rel="nofollow external">Tumblr</a></td>
      <td style="text-align:center;">tumblr</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="https://www.tumblr.com/oauth/apps" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/1d1d42f8-b0c7-8e20-9a33-147c33c8df53.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://twitter.com/" target="_blank" rel="nofollow external">Twitter</a></td>
      <td style="text-align:center;">twitter</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="https://apps.twitter.com/" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/9310ba11-b1ab-a717-3269-e5b8c0ab35bd.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="http://vk.com/" target="_blank" rel="nofollow external">VKontakte</a></td>
      <td style="text-align:center;">vk</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="http://vk.com/apps?act=manage" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/9f08d261-5278-4a0d-35c6-4b62319d15cb.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://yahoo.com/" target="_blank" rel="nofollow external">Yahoo!</a></td>
      <td style="text-align:center;">yahoo</td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="https://developer.yahoo.com/apps/" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/1370537f-44a0-cacb-f1d4-90bd08f6e5cd.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
    <tr>
      <td style="text-align:center;"><a href="https://yandex.com/" target="_blank" rel="nofollow external">Yandex</a></td>
      <td style="text-align:center;">yandex</td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/cross.png" style="width:16px;height:16px;" alt="-" title="" /></td>
      <td style="text-align:center;"><img src="/Content/images/tick.png" style="width:16px;height:16px;" alt="+" title="" /></td>
			<td style="text-align:center;"><a href="https://oauth.yandex.com/client/my" target="_blank" rel="nofollow external"><img src="/Content/images/config.png" style="width:16px;height:16px;" alt="(*)" title="" /></a></td>
			<td style="text-align:center;"><a href="http://oauth.nemiro.net/?topic=html/b52801d2-a372-b410-b892-a8229f28a615.htm" target="_blank" rel="nofollow external"><img src="/Content/images/help.png" style="width:16px;height:16px;" alt="?" title="" /></a></td>
    </tr>
  </tbody>
</table>

<div style="font-size:11px;">@Html.Raw(DemoOAuth.Strings.DemoProviderTableInfo)</div>

<div class="clear"></div>

<br /><br /><br />

<!--div style="text-align:center;font-size:11px;margin-top:24px;margin-bottom:24px;color:#999999;border-top:1px solid #999999;padding-top:12px;">
  © Aleksey Nemiro, 2014<br />
  <a href="http://twitter.com/aleksey_nemiro" rel="external nofollow" target="_blank">Twitter</a> ·
  <a href="http://www.facebook.com/aleksey.nemiro" rel="external nofollow" target="_blank">Facebook</a> ·
  <a href="http://vk.com/aleksey.nemiro" rel="external nofollow" target="_blank">ВКонтакте</a> ·
  <a href="http://kbyte.ru/ru/Private/Profile.aspx?uid=1" rel="external nofollow" target="_blank">Kbyte</a>
</div-->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
      try {
        w.yaCounter25622822 = new Ya.Metrika({ id: 25622822,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true
        });
      } catch (e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/25622822" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->